[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/vim-dart"]
	path = .vim/bundle/vim-dart
	url = git://github.com/bartlomiejdanek/vim-dart.git
[submodule ".vim/bundle/YouCompleteMe.git"]
	path = .vim/bundle/YouCompleteMe.git
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
