[color]
	ui = auto
[user]
	name = Dominic Hamon
[alias]
	st = status
	co = checkout
	br = branch
	svn-diff = !git-svn-diff.sh
[merge]
	tool = gvimdiff
	conflictstyle = diff3
[rerere]
	enabled = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
[diff]
	external = gitvimdiff
[pager]
	diff =
[push]
#	default = simple
[user]
	name = Dominic Hamon
