[color]
	ui = auto
[user]
	name = Dominic Hamon
[alias]
	st = status
	co = checkout
	br = branch
	svn-diff = !git-svn-diff.sh
[merge]
	tool = gvimdiff
	conflictstyle = diff3
[rerere]
	enabled = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	deltaBaseCacheLimit = 1G
[diff]
	external = gitvimdiff
  #renames = true
[pager]
	diff =
[push]
	default = simple
[format]
	pretty = oneline
[user]
	name = Dominic Hamon
[log]
	decorate = true
[url "git@github.com:"]
	insteadOf = https://github.com/
